
/* GRID */

.full-width {
    width: 1400px;
    margin: 0;
    overflow: auto;

}

.half-width {
    width: 700px;

}

/* BASE STYLES */
body {
    background-color: #1f202b; 
    font-family: 'Montserrat', sans-serif;
    font-family: 'Source Code Pro', monospace;
    color: #ffff;
    }
    
a:link {
    text-decoration: none;
    
}

a:visited {
    text-decoration: none;
    
}

a:hover {
    color: #fa0075;
}

a:active {
    text-decoration: none;
}
    
/* NAV */

nav {
    background-color: #1f202b;
    width: 1400px;
    height: 75px;
    margin: 0;
}

h1 {
    color: #ffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: normal;
    padding-left: 95px;
    position: absolute;
    text-align: left;
    
}

nav ul {
    padding-left: 120px;
}

nav ul li {
    display: inline-block;

}

nav ul li a {
    
    color: #ffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    padding-left: 45px;


}

#nav-links {
    background-color: #1f202b;
    float: right;
    text-align: center;
}
    
/* HEADER */

header {
    background-image: url('../img/hero-background.png');
    background-size: cover;
    height: 725px;
    width: 1400px;
    
}

h2 {
    color: #ffff;
    font-family: 'Source Code Pro' , sans-serif;
    font-weight: 400;
    font-size: 72px;
    position: absolute;
    top: 370px;
    padding-left: 95px;

}

h2 span {
        color: #fa0075;
}    

/* PORTFOLIO SECTION */


h3 {
    color: #fa0075;
    font-family: 'Source Code Pro', monospace;
    font-size: 36pt;
    font-weight: 400;
    text-align: center;
    text-decoration: none;

}

#rogue-pickings-image {
    float: left;
}

#jubilee-austen-image {
    float: right;
}

#holstee-image {
    float: left;
}
