/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */
/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*

/* Base styles */

html {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

.site {
  background-color: #1f202b;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin: 0 auto;
  max-width: 1400px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.175em;
  font-weight: 600;
}

h2 {
  font-family: 'Source Code Pro' , sans-serif;
  font-weight: 400;
  font-size: 2em;
}

h3 {
  font-family: 'Source Code Pro', monospace;
  font-size: 2.2em;
  font-weight: 400;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  font-weight: 600;
}

h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.125em;
  font-weight: normal;
}

/* Hover states */
.nav a:link,
a:link {
  text-decoration: none;
  color: inherit;
}
.nav a:visited,
a:visited {
    text-decoration: none;
    color: inherit;
}
.nav a:hover,
a:hover {
    color: #6583E0;
}


/* Header and logo banner */

header {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
  background-color: #1f202b;
  /* position: sticky; */
  top: 0;
}

.banner {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 1.5em;

}

.banner h1 {
  width: 100%;
}

.nav {
  display: flex;
  width: 100%;

}
/* Hamburger nav menu */

label[for="hamburger"] { /*Adjust the size of the hamburger*/
  font-size: 2em;
}

.nav label {
  display: inline-block;
  padding: 0;
  color: #6583E0;
}

.nav input, #hamburger { /*Hides the input checkbox*/
  display: none;
}

.nav input:checked ~ ul {  /*Drop down menu ul hidden until checkbox is selected*/
    display: block;
}
.nav ul {  
  display: none;
  padding-left: 10px;
  margin-top: 14px;
}

.nav ul li {
  display: block;
}

.nav ul li a {
    color       : #ffffff;
    font-size   : 1.25em;
    text-decoration: none;
    padding-left: 0;
}

.feature {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: auto;
  background-image: url("../img/hero-background.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0;
  
}

.feature .headline {
  display: flex;
  width: 100%;
  margin: 0 1.5em;
}

.feature h2 {
  margin: 60px 0;
}

.feature span {
  color: #6583E0;
}
/* ABOUT SECTION */

.about{
  display: flex;
  background: #b3afad;
  /* background-image: url("../img/about-me.png"); */
  background-size: cover;
}

.about .about-me,
.about .about-skills {
  margin: 0 3em;
  width: 100%;
}

.about h3 {
  width: 100%;
  margin-top: 30px;
  text-align: center;
  color: #6583E0;
}

.about h4 {
  color: #1f202b;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.about p {
  color: #1f202b;
}

.about ul {
  list-style: circle;
  margin-bottom: 3em;
}

.about ul li {
  color: #1f202b;
  font-size: 1.25em;
  font-weight: normal;
  margin-top: 10px;
}

/* Footer and contact section */

.footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
}

.footer h3 {
  width: 100%;
  color: #6583E0;
}

.hire-me,
.follow-me,
.meet-me {
  width: 100%;
  margin-bottom: 60px;
}

.footer h4 {
  margin: 16px 0;
}

.footer i {
  color: #6583E0;
  
}

/*==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}
/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}
/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}
/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}
/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:after,
.clearfix:before {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 48em) {
  /* Style adjustments for viewports that meet the condition */
   
  
  .banner,
  .about-me,
  .feature .headline,
  .about-me,
  .about-skills,
  .footer {
    margin: 0 3em;
  }
  
  h1 {
    font-size: 1.75em;
  }
  
  h2 {
    font-size: 3em;
  }  
  
  .nav ul {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 0;
  
  }
  
  .nav ul li {
      margin-left: 30px;
  } 
  
  .nav label {
    display: none;
  }

  
  /* Feature section */
  
  .feature {
    background-size: cover;
  }
  
  /* About section */
  /* .about {
    background-position: center;
  } */
  
  /* Footer and contact section */
  
  .hire-me,
  .follow-me {
    width: 50%;
  }
  
  .hire-me p {
    padding-top: 10px;
  }
  
}

@media only screen and (min-width: 75em) {
  /* Style adjustments for viewports that meet the condition */
  
  .banner h1,
  .nav {
    width: 50%;
    align-items: center;
  }
  
  h1,
  .nav ul li a {
    font-size: 1.75em;
    font-weight: 400;
  }
  
  .feature {
    height: 600px;
    align-items: center;
  }
  
  h2 {
    font-size: 4.5em;
  }
  
  /* About section */
  
  .about {
    background-image: url("../img/about-me.png");
    background-size: cover;
    height: 550px;
    flex-flow: row wrap;
  
    
  }
  
  .about h3 {
    width: 100%;
  }
    
  .about p,
  .about ul li {
    font-size: 1.5em;
  }
  
  .about .about-me,
  .about .about-skills {
    margin: 0 0 3em 0;
    max-width: 50%;

  }
  
  .about p,
  .about ul {
    margin: 1em 3em;
  }
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:after,
  *:before {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  blockquote,
  pre {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }

  img,
  tr {
    page-break-inside: avoid;
  }

  h2,
  h3,
  p {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}